<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
</head>
<body>
    <h1>Room</h1>
    <p>UserId: <span id="userId"></span></p>

    <button id="makeRoom" onclick="makeRoom()">Make a new room</button>

    <input type="text" id="existingRoomId">
    <button id="joinRoom" onclick="joinRoom()">Join an existing room</button>

    <p>RoomId: <span id="roomId"></span></p>

    <button id="shareScreen" onclick="shareScreen()" style="display: none;">Share my screen</button>
    <div id="screenDiv"></div>


    <script>
        var ROOM_ID = "<%= roomId %>"
    </script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script id="robotjs-script" type="text/javascript" src="http://127.0.0.1:7569/robotjs-iframe-polyfill.js"></script>
    <script src="script.js"></script>
</body>
</html>